$main-background-image: url('/img/m-h-night.jpg');
$main-background-color:#21232e;
$base-color: #ffffff;
$button-background: #e3ac00;
$addition-light-color: #b6c3ce;
$base-font: 'Source Sans Pro', sans-serif;
$small-font: 'Hind', sans-serif;
$card-background-color: #3b3f50;
$underline-color: #ff4e33;
$color-gradiante: linear-gradient(to right top, #d89b0b, #d77827, #ca583a, #b33f48, #932e50);