$main-background-image: url('/img/m-h-day.jpg');
$main-background-color:#ffffff;
$base-color: #2c2f3c;
$button-background: #699900;
$addition-light-color: #b6c3ce;
$base-font: 'Source Sans Pro', sans-serif;
$small-font: 'Hind', sans-serif;
$card-background-color: #21232e;
$underline-color: #14a0c7;
$color-gradiante: linear-gradient(to right, #60901f, #00925e, #008ca8, #007ddc, #2d5bd6);